.top-panel {
  background: $bgcolor;
  margin-bottom: 1.5rem;

  p {
    margin-bottom: 0;
  }

  &__date {
    font-size: 1.234rem;
  }

  &__founder {
    font-size: 1.234rem;
    text-transform: uppercase;
  }

  &__wrapper {
    height: 5rem;
  }

  &__div {
    margin-right: 2rem;
    align-self: center;

    &--right {
      margin-right: 0;
      margin-left: auto;
    }
  }
}
