<div class="sc sc--scew about" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h3 class="heading">Інфраструктура</h3>
        <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з </p>
      </div>
      <div class="col-md-3">
        <h3 class="heading">Кластер</h3>
        <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з </p>
      </div>
      <div class="col-md-3">
        <h3 class="heading">Сінергія</h3>
        <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з </p>
      </div>
      <div class="col-md-3">
        <h3 class="heading">Можливості</h3>
        <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з </p>
      </div>
    </div>
  </div>
</div>