<section class="sc sc--scew about js-ic-a sc--dark" id="about">

  <div class="back">
  </div>

  <div class="container">

    <h2 class="sc__title">Складові бренду</h2>

    <img class="js-ic-a__icon--circle icon-animate" src="assets/images/circle.svg" alt="icon-circle">
    <img class="js-ic-a__icon--rhomb icon-animate" src="assets/images/rhomb.svg" alt="icon-rhomb">
    <img class="js-ic-a__icon--star icon-animate" src="assets/images/star.svg" alt="icon-star">
    <img class="js-ic-a__icon--stop icon-animate" src="assets/images/stop.svg" alt="icon-stop">

    <div class="row">
      <div class="column col-6 col-md-3">
        <img class="js-ic-a__icon--circle ic-mobile" src="assets/images/circle.svg" alt="icon-circle">
        <div class="sc__header">
          <h3 class="heading">Інфраструктура</h3>
        </div>
        <p class="about__text">Надсучасне та комфортне  місто у місті, інфраструктура якого відрізняється не тільки функціональністю та естетикою, але й якістю будівництва та сучасними технологіями енергоефективності</p>
      </div>
      <div class="column col-6 col-md-3">
        <img class="js-ic-a__icon--rhomb ic-mobile" src="assets/images/rhomb.svg" alt="icon-rhomb">
        <div class="sc__header">
          <h3 class="heading">Кластер</h3>
        </div>
        <p class="about__text">Спільнота, що об’єднує провідні технологічні та інноваційні компанії,  R&D центри, інкубатори і акселератори, активно розвиаваючихся підприємців та молоді стартапи, які, інтегруючись, створюють кластер інновацій, спільну екосистему</p>
      </div>
      <div class="column col-6 col-md-3">
        <img class="js-ic-a__icon--star ic-mobile" src="assets/images/star.svg" alt="icon-star">
        <div class="sc__header">
          <h3 class="heading">Сінергія</h3>
        </div>
        <p class="about__text">Ми прагнемо побудувати таку систему, яка буде сприяти постійній взаємодії та комунікації між резидентами містечка задля досягнення синергії, яка буде давати свій позитивний ефект як для всієї спільноти, так і для кожного підприємця окремо</p>
      </div>
      <div class="column col-6 col-md-3">
        <img class="js-ic-a__icon--stop ic-mobile" src="assets/images/stop.svg" alt="icon-stop">
        <div class="sc__header">
          <h3 class="heading">Можливості</h3>
        </div>
        <p class="about__text">Завдяки синергії горизонт можливостей не має меж та кордонів. Доступ до знань та технологій, взаємодія з однодумцями, консультаційна підтримка та багато інших можливостей пропонує LvivTech.City</p>
      </div>
    </div>
  </div>
  <div id="trigger-scroll"></div>
</section>
