<section class="sc sc--scew about sc--dark" id="about">

  <div class="back">
  </div>

  <div class="container">

    <h2 class="sc__title">Ідея проекту</h2>

    <div class="row">
      <div class="column col-6 col-md-3">
        <div class="sc__header">
          <h3 class="heading">Інфраструктура</h3>
        </div>
        <p class="about__text">Понад 40 тисяч квадратних метрів соціальної та технологічної інфраструктури , яка включає офіси, коворкінги, креативні простори, а також тренажерні зали, кімнати відпочинку, зелені зони, пішохідні й велосипедні доріжки та сучасне кафе (якщо ми вказуємо площу будівель, то зелені зони, велодоріжки — це 1,8 га, ділянка, а не забудова)</p>
      </div>
      <div class="column col-6 col-md-3">
        <div class="sc__header">
          <h3 class="heading">Кластер</h3>
        </div>
        <p class="about__text">Спільнота, що об’єднує провідні технологічні та інноваційні компанії,  R&D-центри, інкубатори й акселератори,  підприємців і молоді стартапи, які активно розвиваються та, інтегруючись, створюють кластер інновацій, спільну екосистему для розвитку міста.</p>
      </div>
      <div class="column col-6 col-md-3">
        <div class="sc__header">
          <h3 class="heading">Сінергія</h3>
        </div>
        <p class="about__text">Ми прагнемо побудувати таку систему, яка буде сприяти постійній взаємодії та комунікації між резидентами містечка задля досягнення синергії, яка буде давати свій позитивний ефект як для всієї спільноти, так і для кожного підприємця.</p>
      </div>
      <div class="column col-6 col-md-3">
        <div class="sc__header">
          <h3 class="heading">Можливості</h3>
        </div>
        <p class="about__text">Завдяки синергії горизонт можливостей не має меж і кордонів. Доступ до знань і технологій, взаємодія з однодумцями, консультаційна підтримка та багато інших можливостей пропонує LvivTech.City.</p>
      </div>
    </div>
  </div>
  <div id="trigger-scroll"></div>
</section>
