<section class="sc request" id="request">
  <div class="container">
    <div class="request__content">
      <header class="sc__header">
        <h2 class="sc__heading h3">Подати заявку</h2>
        <p>Для того, щоб відправити заявку, будь ласка, заповніть форму. Наші колеги обов’язково зв’яжуться з Вами в найближчий час.</p>
      </header>
      <form class="form request__form md-form" action="" method="POST">
        <div class="form__gr">
          <label for="user_name">Повне ім'я</label>
          <input class="form__inp" type="text" name="user_name" id="user_name">
        </div>
        <div class="form__gr">
          <label for="user_mail">Ваш е-мейл адрес</label>
          <input class="form__inp" type="text" name="user_mail" id="user_mail">
        </div>
        <div class="form__gr">
          <label for="user_company">Назва компанії</label>
          <input class="form__inp" type="text" name="user_company" id="user_company">
        </div>
        <div class="form__gr form__gr--tarea">
          <label for="user_comment">Коментарій</label>
          <textarea class="form__tarea" name="user_comment" id="user_comment"></textarea>
        </div>
        <button class="btn form__btn">Відправити</button>
      </form>
    </div>
  </div>
</section>