<section class="sc sc--scew residents sc--dark" id="residents">
  <div class="back"></div>

  <div class="container">
    <canvas class="anim-canvas"></canvas>
    <h2 class="sc__title">Резидентам</h2>
    <div class="row">
      <div class="column col-6 col-md-3">
        <div class="sc__header">
          <h3 class="heading">Як стати резидентом?</h3>
        </div>
        <p class="about__text">Надсучасне та комфортне  місто у місті, інфраструктура якого відрізняється не тільки функціональністю та естетикою, але й якістю будівництва та сучасними технологіями енергоефективності</p>
        <a class="about__more js-link" href="./residents.html">Детальніше...</a>
      </div>
      <div class="column col-6 col-md-3">
        <div class="sc__header">
          <h3 class="heading">Що дає статус резидента?</h3>
        </div>
        <p class="about__text">Спільнота, що об’єднує провідні технологічні та інноваційні компанії,  R&D центри, інкубатори і акселератори, активно розвиаваючихся підприємців та молоді стартапи, які, інтегруючись, створюють кластер інновацій, спільну екосистему</p>
        <a class="about__more js-link" href="./residents.html">Детальніше...</a>
      </div>
      <div class="column col-6 col-md-3">
        <div class="sc__header">
          <h3 class="heading">Подати заявку</h3>
        </div>
        <p class="about__text">Ми прагнемо побудувати таку систему, яка буде сприяти постійній взаємодії та комунікації між резидентами містечка задля досягнення синергії, яка буде давати свій позитивний ефект як для всієї спільноти, так і для кожного підприємця окремо</p>
        <a class="about__more js-link" href="./residents.html">Детальніше...</a>
      </div>
      <div class="column col-6 col-md-3">
        <div class="sc__header">
          <h3 class="heading">На мапі</h3>
        </div>
        <p class="about__text">Завдяки синергії горизонт можливостей не має меж та кордонів. Доступ до знань та технологій, взаємодія з однодумцями, консультаційна підтримка та багато інших можливостей пропонує LvivTech.City</p>
        <a class="about__more js-link" href="./residents.html">Детальніше...</a>
      </div>
    </div>

  </div>
</section>
