<section class="sc video" id="videosc">
  <div class="video__content">
    <div class="container container--full">
      <h2 class="sc__title">Місто у місті</h2>

      <div class="video__text">

        <div class="video__inner">
          <div>
            <a class="video__launch" href="#">Переглянути відео</a>
          </div>

          Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні.
          Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий
          друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки
          успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною.

        </div>
      </div>
    </div>
  </div>
</section>
