<section class="sc video" id="videosc">
  <div class="video__content">
    <div class="container container--full">
      <h2 class="sc__title">Місто у місті</h2>

      <div class="video__text">

        <div class="video__inner">
          <div>
            <a class="video__launch modal__link" href="#" data-url="https://www.youtube.com/watch?v=aQn5wiDyUHo?autoplay=1&cc_load_policy=1"><img class="video__icon" src="./assets/images/play_video.svg" alt="play">Переглянути відео</a>
          </div>

          <div class="row">
            <div class="col-md-6">
              Надсучасне та комфортне місто у місті, що функціонує в екосистемі «Живи – Працюй – Навчайся – Віпочивай» інфраструктура якого відрізняється не тільки функціональністю та естетикою, але й якістю будівництва та сучасними технологіями енергоефективності.
            </div>
            <div class="col-md-6">
              А головне — середовище однодумців, комфортний простір та спеціальні сервіси, що дозволяють компаніям-резидентам повністю зосередитися на роботі та зростати
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
