<section class="sc welcome" id="welcome">
  <div class="image-container" id="image-container">
    <img src="assets/images/bg_one(1920)-min.jpg" alt="" id="layer-1">
    <img src="assets/images/bluer(1920)-min.png" alt="" id="layer-2">
    <img src="assets/images/claster(1920)-min.png" alt="" id="layer-3">
  </div>

  <div class="container-wrap">
    <div class="container-fluid">
      <div class="welcome__content">
        <p class="welcome__sub-slogan">Спільнота</p>
        <p class="welcome__slogan" id="welcome-slogan">LvivTech<span>.</span><span class="is-animate">Живи</span></p>
        <p class="welcome__p">Вже давно відомо, що читабельний зміст буде заважати зосередитись людині, яка оцінює композицію</p>
      </div>
    </div>
  </div>
</section>
