.news {

  &__home-primary h2 {
    font-size: 2.954rem;
    line-height: 3.4rem;
  }

  &__home-secondary h2 {
    font-size: 2.754rem;
    line-height: 3.2rem;
  }

  .widget-area h2 {
    font-size: 2.54rem;
    line-height: 3rem;
  }
}
