.premium {
  @extend %bg-gradient-gray;

  .post {
    padding: 6rem 2rem 2rem 2rem;
    height: 100%;
  }

  .post-type-interview {
    position: relative;
    padding-left: 0;
    padding-right: 0;

    .post__header {
      font-size:3.34rem;
    }

    .post__content {
      width: 47%;
    }

    .post__image {
      position: absolute;
      right: 0;
      bottom: 0;
      line-height: 0;

      height: 110%;
      //max-width: 65%;

      img {
        max-width: none;
        height: 100%;
      }
    }
  }

}
