.about {
  background: rgba(0,0,0,0);

  &:after {
    content: '';
    position: absolute;
    background: $color_white;
    bottom: -2rem;
    left: 50%;
    width: 0.2rem;
    height: 8rem;
  }

  &__text {
    font-size: 1.7rem;
    line-height: 2.5rem;
    font-weight: 100;
  }

  &__more {
    font-size: 1.7rem;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.r-about {
  background: transparent;

  .back {
    background: #ffffff;
  }

  .sc__title {
    color: $primary_color;
  }
}

@media (max-width:767px) {

  	.column:nth-child(1) {
			margin-top: 20rem!important;
		}

		.column:nth-child(2) {
			margin-top: 15rem!important;
		}

		.column:nth-child(3) {
			margin-top: 20rem!important;
		}

		.column:nth-child(4) {
			margin-top: 15rem!important;
		}

  .js-ic-a__icon--circle {
    margin-left: -47.5%;
    margin-top: 25%;			
  }

  .js-ic-a__icon--rhomb {
    margin-left: 2.5%;
    margin-top: 17%;			
  }

  .js-ic-a__icon--star {
    margin-left: -47.5%;
    margin-top: 96%;			
  }

  .js-ic-a__icon--stop {
    margin-left: 2.5%;
    margin-top: 88%;			
  }
}