.about {
  background: rgba(0,0,0,0);

  .ic-mobile {
    display: none;
  }

  &:after {
    content: '';
    position: absolute;
    background: $color_white;
    bottom: -2rem;
    left: 50%;
    width: 0.2rem;
    height: 8rem;
  }

  &__text {
    font-size: 1.5rem;
    line-height: 2.3rem;
    font-weight: 100;
  }

  &__more {
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.r-about {
  background: transparent;

  .back {
    background: #ffffff;
  }

  .sc__title {
    color: $primary_color;
  }
}

@media (max-width:767px) {
  
  .about .ic-mobile {
    display: inline-block;
    width: 7rem;
    position: relative;
    top: -2rem;
  }

  .icon-animate {display: none;}
}