.about {
  background: rgba(0,0,0,0);


  &:after {
    content: '';
    position: absolute;
    background: $color_white;
    bottom: -2rem;
    left: 50%;
    width: 0.2rem;
    height: 8rem;
  }

  &__text {
    font-size: 1.7rem;
    line-height: 2.5rem;
    font-weight: 100;
  }

  &__more {
    font-size: 1.7rem;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}