.archive {

  &__header {
    text-transform: uppercase;
    margin-bottom: 2rem;    
  }

  &__name {
    font-family: $primary_font;
    font-size: 2.3rem;
    font-weight: 500;
    color: $secondary_color;
  }

  &__breadlink {
    @extend %ibm;
  }

  &__sub-name {
    font-size: 1.4rem;
    font-weight: 500;
    color: $dark_color;
  }

  &__cat-list {
    position: relative;
    @extend %ibm;
    margin-left: 3rem;
    padding-left: 3rem;

    &:before {
      content: '';
      position: absolute;
      @extend %vam;
      width: .1rem;
      height: 2.7rem;
      background: #cccccc;
      left: 0;
    }
  }

  .cat-list {

    &__item {
      @extend %ibm;
      position: relative;
      font-size: 1.4rem;
      font-weight: 500;
      color: $dark_color; 
      margin-right: 1rem;
      border: .2rem solid transparent;
      padding: 0.9rem 1.3rem;
      border-radius: .2rem;

      &.active {
        border-color: $secondary_color;
      }

      &:after {
        position: absolute;
        display: block;
        content: '';
        @extend %vam;
        right: -2.35rem;
        background: $dark_color;
        width: 0.7rem;
        height: 0.7rem;
        border-radius: 100%;
      }
    }

    &__item:last-child {
      margin-right: 0rem;

      &:after {
        display: none;
      }
    }
  }
}