.form {
  padding-bottom: 2rem;

  &__gr {
    position: relative;

    label {
      position: relative;
      display: inline-block;
      background: $bgcolor_light;
      transform: translateY(45%);
      padding-bottom: 0.5rem;
      padding-right: 5rem;
      padding-left: 0.5rem;
      margin-left: -0.5rem;
      z-index: 1;
    }

    input {
      margin-bottom: 1.5rem;
    }
  }

  &__inp, .selectize-input {
    display: inline-block;
    width: 100%;
    border: .2rem solid #000000;
    font-size: 1.8rem;
    line-height: 1.2;
    font-weight: 100;
    padding: 1.5rem 1.5rem;
    border-radius: .3rem;
    box-sizing: border-box;
  }

  &__tarea {
    @extend .form__inp;
    height: 22rem;
  }

  &__btn {
    display: block;
    margin: 3rem auto 1rem;
  }
}