.header {
  background: $color_white;
  padding: 1.5rem 0 2rem 0;

  &__column {
    align-self: center;

    &--right {
      text-align: right;
    }
  }

  &__burger {
    display: none;
  }

  &__nav {
    font-weight: 500;
    text-transform: uppercase;
    text-align: right;
    margin-top: 1rem;
  }

  &__menu li {
    @extend %ibt;
  }
}

.menu {

  &__link {
    color: $dark_color;
    text-decoration: none;
  }
}