.residents {
  background: #000000;
  background: -moz-linear-gradient(top, #000000 30%, #ffffff 70%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #000000 30%,#ffffff 70%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #000000 30%,#ffffff 70%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}