.sidebar {

  &__content {

    .heading + .post {
      border-top: none;
      padding-top: 0;
    }

    .post {
      border-top: 0.1rem solid $color_gray;

      &:first-child {
        padding-top: 0;
        border-top: none;
      }

      &:last-child {
        border-bottom: 0.1rem solid $color_gray;
      }
    }

  }
}