.single {

  .widget-area {
    
    h2 {
      font-size: 2.4rem;
      line-height: 2.9rem;
      padding-bottom: 1rem;
      font-weight: 600;
    }
  }

  .entry-header .post__image {
    padding-top: 2rem;
  }
} 
