html {
	font-size: $font-size-base;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html ::selection {
    color: #050505;
    background: #00ff7c
}

body {
	background: #000000;
	@include font-size(16px);
	font-family: $primary_font;
	font-weight: 300;
	line-height: 1.3;
	color: $primary_color;
	position: relative;
	&.is-pagetransition {
		.loader-overlay {
			&::before {
				height: 250%;
			}
			&::after {
				opacity: 1;
			}
		}
	}
	&.is-pagetransitionend {
		.loader-overlay {
			&::before,
			&::after {
				opacity: 0;
			}
		}
	}
}

.loader-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
	&::before {
		content: '';
		width: 200%;
		height: 0;
		background-color: #fff;
    overflow: hidden;
		position: fixed;
		left: 50%;
		top: 50%;
		z-index: 900;
    transform: translate(-50%,-50%) rotate(-25deg);
    transition: height .9s cubic-bezier(.55,.085,0,.99);
	}
	&::after {
		content: '';
		display: block;
		width: 250px;
		height: 50px;
		background: {
			image: url(assets/images/logo-black.svg);
			repeat: no-repeat;
			position: center;
			size: contain;
		}
		position: absolute;
		left: 50%;
		top: 50vh;
		z-index: 901;
		opacity: 0;
		transform: translate(-50%, -50%);
		transition: opacity .9s cubic-bezier(.55,.085,0,.99);
	}
}

.body-wrapper {
	overflow: hidden;
}

.container {

	&--full {
		position: relative;
		height: 100%;
	}
}


.container-wrap {
	width: 100%;
	max-width: 1340px;
	position: relative;
	margin: 0 auto;
}

h1, .h1 {
	font-family: $secondary_font;
	font-weight: 600;
	font-size: 4rem;
	line-height: 4.6rem;
	color: $primary_color;
}

h2, .h2 {
	font-family: $secondary_font;
	font-weight: 500;
	font-size: 3rem;
	line-height: 3.6rem;
	color: $dark_color;
	padding-bottom: 0.43rem;
}

h3, .h3 {
	font-family: $secondary_font;
	font-weight: 400;
	font-size: 2.8rem;
	line-height: 1.2;
	color: $primary_color;
	padding-bottom: 2rem;
}

h4, .h4 {
	font-weight: 600;
	font-size: 1.5rem;
	line-height: 2rem;
	color: $primary_color;
	text-transform: uppercase;
}

@include media-breakpoint-down(md) {

	h3, .h3 {
		font-size: 2.4rem;
	}
}

input[type=email],
input[type=password],
input[type=submit],
input[type=text],
textarea {
    appearance: none;
}

p {
	margin-bottom: 1.538rem;
}

a {
  color: $secondary_color;
  text-decoration: underline;
}

strong, b, .strong {
	font-weight: 500;
}

textarea {
	resize: none;
}

ul {
	li {
		position: relative;
		padding-left: 2.4rem;
	}
}

.img--responsive {
	display: block;
	width: 100%;
}

.wrap {
	display: block;
	max-width: 124rem;
	margin: 0 auto;
	position: relative;
	padding-left: 4rem;
	padding-right: 4rem;

	&--grid {
		font-size: 0;
		& > :not(&) {
			font-size: 1.6rem;
		}
	}
}

.text-center {
	text-align: center;
}

.link {
	text-decoration: none;
}

.sc {
	background: transparent;
	position: relative;
	padding: 4rem 0;

	&__title {
		font-size: 4rem;
		line-height: 1;
		font-weight: 700;
		color: #fff;
		text-align: right;
	}

	&__header {
		font-size: 1.8rem;
		font-weight: 100;
		text-align: center;
		margin-bottom: 3rem;
	}

	&--dark {
		color: $color_white;

		.heading {
			color: $color_white;
		}
	}

	&--scew {
		position: relative;
		padding-top: 2.5rem;
  	padding-bottom: 9rem;
  	margin-top: -20rem;
		width: 100%;
		z-index: 100;

		&--nmt {
			margin-top: 10rem;
		}

		.back {
			position: absolute;
			top: 0;
			left: -100%;
			background: #141414;
			width: 300%;
			height: 100%;
			z-index: 0;
			transform: rotate(-25deg);

			@media(max-width: 400px) {
				left: -125%;
				width: 350%;
			}
		}

		.anim-canvas {
			position: absolute;
			top: 20%;
			width: 932px;
		}

		.sc__header {
			text-align: left;
			margin-bottom: 0;
			line-height: 0;
			padding: 3rem 0;
			border-top: 1px solid $color_gray;
		}

		.heading {
			padding-bottom: 0;
		}

		.column-t {
			margin-top: 20rem;
		}

		.column:nth-child(1) {
			margin-top: 52rem;
		}

		.column:nth-child(2) {
			margin-top: 40rem;
		}

		.column:nth-child(3) {
			margin-top: 28rem;
		}

		.column:nth-child(4) {
			margin-top: 16rem;
		}

		@include media-breakpoint-down(md) {

			.column:nth-child(1) {
				margin-top: 49rem;
			}

			.column:nth-child(2) {
				margin-top: 37rem;
			}

			.column:nth-child(3) {
				margin-top: 25rem;
			}

			.column:nth-child(4) {
				margin-top: 13rem;
			}
		}

		@media (max-width: 767px) {
			
			.column:nth-child(1) {
				margin-top: 20rem;
			}

			.column:nth-child(2) {
				margin-top: 15rem;
			}

			.column:nth-child(3) {
				margin-top: 20rem;
			}

			.column:nth-child(4) {
				margin-top: 15rem;
			}
		}
	}
}


.icon-animate {
	position: absolute;
	top: 0;
	left: 50%;
	width: 7rem;
	margin-left: -3.5rem;
}

.js-ic-a__icon {
	transform: matrix(1, 0, 0, 1, 0, 0);
}

@media (min-width: 1440px) {
  html {
    font-size: 0.699304vw;
  }

	.container {
		width: 110rem;
	}
}

@media (max-width: 600px) {
  html {
    font-size: 9px;
  }
}
