.video {
  background: url('assets/images/bg_video.jpg') no-repeat center center / cover;
  height: 140rem;
  padding: 0;
  margin-top: -35rem;
  transform: translateY(5rem);

  &__content {
    height: 100%;
    padding-top: 30rem;
  }

  &__text {
    position: absolute;
    bottom: 43rem;
    max-width: 60rem;
    color: #fff;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;

    &:before {
      content: '';
      position: absolute;
      background: rgba(0,0,0,0.5);
      height: 300%;
      width: 350%;
      top: -60%;
      left: -100%;
      transform: rotate(-25deg);
      z-index: 0;
    }
  }

  &__inner {
    position: relative;
    font-size: 1.7rem;
    line-height: 2.5rem;
    font-weight: 100;
  }

  &__launch {
    position: relative;
    display: block;
    padding-bottom: 2rem;
    font-size: 1.8rem;
    color: $secondary_color;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    transform: translateY(-120%);
  }

  &__icon {
    position: absolute;
    top: 0;
    left: 0;
    right: 0; 
    transform: translateY(-120%);
    width: 10rem;
    margin: auto;
  }
}