.video {
  background: url('assets/images/video-bg.jpg') no-repeat center center / cover;
  height: 150rem;
  padding: 0;
  margin-top: -35rem;
  transform: translateY(5rem);

  .sc__title {
    color: $primary_color;
  }

  &__content {
    height: 100%;
    padding-top: 30rem;

    @media(max-width: 600px) {
      padding-top: 40rem;
    }
  }

  &__text {
    position: absolute;
    bottom: 43rem;
    max-width: 60rem;
    color: #fff;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;

    &:before {
      content: '';
      position: absolute;
      background: rgba(0,0,0,0.75);
      height: 300%;
      width: 350%;
      top: -80%;
      left: -100%;
      transform: rotate(-25deg);
      z-index: 0;
    }
  }

  &__inner {
    position: relative;
    font-size: 1.5rem;
    line-height: 2.3rem;
    font-weight: 100;

    @media(max-width: 600px) {
      padding-bottom: 8rem;
    }
  }

  &__launch {
    position: relative;
    display: block;
    padding-bottom: 2rem;
    transform: translateY(-120%);

    width: 100%;
    max-width: 295px;
    height: 54px;
    margin: 0 auto;
    border: 2px solid $secondary_color;
    border-radius: 27px;
    font-size: 18px;
    font-weight: 700;
    line-height: 50px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .3s cubic-bezier(.55,.085,0,.99);
    &:hover,
    &:focus,
    &:active {
      background-color: $secondary_color;
    }
  }

  &__icon {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(-120%);
    width: 10rem;
    margin: auto;
  }
}
