.welcome {
  background: #000;
  padding-top: 380px;
  padding-bottom: 0;
  overflow: hidden;

  @media (max-width: 500px) {
    padding-top: 200px;
  }

  @media (min-width: 400px) {
    padding-top: 200px;
    min-height: 1100px;
  }

  @media (min-width: 1400px) {
    min-height: 1340px;
  }

  &__sub-slogan {
    font-size: 55px;
    line-height: 1;
    font-weight: 400;
    color: #fff;
    margin-bottom: 0;

    @media (max-width: 600px) {
      font-size: 30px;
    }
  }

  &__icon {
    position: relative;
    width: 60px;
    height: 60px;
    margin: 90px auto 0;

    &:after {
      content: '';
      position: absolute;
      background: $color_white;
      top: 100px;
      left: 50%;
      margin-left: -1px;
      width: 2px;
      height: 80rem;
    }
  }

  &__slogan {
    font-size: 65px;
    line-height: 1;
    font-weight: 700;
    color: #fff;
    margin-bottom: 40px;
    span {
      color: #f7901e;
      font-weight: 400;
    }

    @media (max-width: 600px) {
      font-size: 32px;
    }
  }

  &__p {
    color: #fff;
    font-size: 20px;
    line-height: 26px;
    max-width: 295px;
  }

  &__link {
    display: inline-block;
    width: 100%;
    max-width: 29rem;
    height: 5.4rem;
    border: .2rem solid #f7901e;
    border-radius: 2.7rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 5rem;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .3s cubic-bezier(.55,.085,0,.99);
    &:hover,
    &:focus,
    &:active {
      background-color: #f7901e;
    }
  }
}

.image-container {
  width: 1200px;
  height: 800px;
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden;

  img {
    width: 90rem;
    position: absolute;
    right: 0;
    top: 0;
    &#layer-2,
    &#layer-3 {
      opacity: 0;
    }

    @media (min-width: 1400px) {
      width: 120rem;
    }
  }
}


#welcome-slogan {
  .is-animate {
    i {
      display: inline-block;
      opacity: 0;
      transform: translateX(10px);
      transition: all .2s cubic-bezier(.55,.085,0,.99);
      &.is-visible {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
}
