<section class="sc sc--scew r-about" id="how-to">

  <div class="back">
  </div>

  <div class="container">

    <h2 class="sc__title">Як стати резидентом?</h2>

    <div class="row">
      <div class="column-t col-md-3 offset-md-3">
        <p class="about__text">
          Для участі в конкурсі на право отримання статусу Резидента інноваційного парку LvivTech.City необхідно заповнити анкету або подати заявку. 
          Ваш проект повинен відповідати формальним вимогам: мати юридичну особу і ставитися до малого бізнесу. Ваш проект повинен пройти первину експертизу спеціалістами інноваційного парку LvivTech.City і бути визнаною інноваційною компанією. Експертиза потрібно тільки для очної резидентури.
          Після схвалення заявки Експертною комісією інноваційного парку LvivTech.City  компанії присвоюється статус Резидента.
        </p>
      </div>
      <div class="column-t col-md-3">
        <p class="about__text">
          Для участі в конкурсі на право отримання статусу Резидента інноваційного парку LvivTech.City необхідно заповнити анкету або подати заявку. 
          Ваш проект повинен відповідати формальним вимогам: мати юридичну особу і ставитися до малого бізнесу. Ваш проект повинен пройти первину експертизу спеціалістами інноваційного парку LvivTech.City і бути визнаною інноваційною компанією. Експертиза потрібно тільки для очної резидентури.
          Після схвалення заявки Експертною комісією інноваційного парку LvivTech.City  компанії присвоюється статус Резидента.
        </p>
      </div>
    </div>
  </div>
  
</section>
