<section class="sc sc--scew sc--scew--nmt sc--dark faq" id="faq">
  <div class="back"></div>

  <div class="container">

    <h2 class="sc__title">FAQ</h2>
    <div class="sc__content--mw50">
      <div class="row">
        <div class="column-t col-12">
             <p class="ph__faq"> Які переваги/можливості надає статус резидента ?</p>
  <p>Отримавши статус резидента, компанія отримує доступ до послуг LvivTech.City.

 <p class="ph__faq padding__top ">На який термін надається статус резидента ?</p>
  <p>Термін резидентства є необмеженим.</p>

  <p class="ph__faq padding__top">Чи потрібно якось підтверджувати статус резидента через деякий час?</p>
  <p>Ні, але в разі припинення робіт за проектом може бути поставлено питання щодо виключення компанії із числа резидентів.</p>

 <p class="ph__faq padding__top ">Чи можна заявляти відразу декілька проектів?</p>
  <p>Так, при цьому можна подати один пакет документів, але заяву на проведення експертизи інноваційного проекту потрібно подавати на кожен проект окремо.</p>

  <p class="ph__faq padding__top ">Якщо мені відмовили в наданні статусу резидента, чи можу я подати заявку повторно?</p>
  <p>Так, це допускається. Заявку необхідно доопрацювати відповідно до рекомендацій комісії.</p>

  <p class="ph__faq padding__top ">З яких причин компанія може втратити статус резидента LvivTech.City?</p>
  <p>У разі невиконання умов договору між LvivTech.City і резидентом; ненадання щоквартальної звітності; відсутності діяльності за проектом протягом одного року; за особистим бажанням резидента.</p>

  <p class="ph__faq padding__top ">Яку звітність необхідно надавати резидентам інноваційному парку?</p>
  <p>Звітність, яку щоквартально запитує LvivTech.City від резидентів, представлена в Додатку до Типового договору.</p>

        </div>
      </div>
    </div>

  </div>
</section>