<section class="sc sc--scew r-about" id="how-to">

  <div class="back">
  </div>

  <div class="container">

    <h2 class="sc__title">Як стати резидентом?</h2>

    <div class="row">
      <div class="column-t col-sm-6 col-lg-3 offset-lg-3">
            <p class="about__text">
              Для участі в конкурсі на право отримання статусу резидента інноваційного парку LvivTech.City необхідно заповнити <a class="page-scroll" href="#form"> анкету</a> або <a class="page-scroll" href="#form">подати заявку</a>. 
              Ваш проект повинен відповідати формальним вимогам: мати юридичну особу і ставитися до малого бізнесу. Ваш проект повинен пройти первину експертизу спеціалістами інноваційного парку LvivTech.City і бути визнаною інноваційною компанією. Експертиза потрібно тільки для очної резидентури.
              Після схвалення заявки Експертною комісією інноваційного парку LvivTech.City  компанії присвоюється статус Резидента.
            </p>
      </div>
      <div class="column-t col-sm-6 col-lg-3">
      <p class="about__text">
              <strong>Критерії відбору проектів:</strong>
			  <ul class="ph__list">
<li class="ph__list-i">	 Технічна реалізація		</li>
<li class="ph__list-i">	 Економічна доцільність		</li>	
<li class="ph__list-i">	 Адекватна оцінка ринку</li>	
<li class="ph__list-i"> Відмінності від конкурентів</li>
<li class="ph__list-i">	 Спроможність бізнес-моделі</li>
<li class="ph__list-i">	 Наявність стратегії просування і продажів</li>
<li class="ph__list-i">	 Інвестиційна привабливість</li>
</ul>
</br>
<strong class="ph__strong">Винятки:</strong>
LvivTech.City не працює з проектами, що спеціалізуються на: виробництві та розповсюдженні алкогольних напоїв, тютюнових виробів, продукції еротичного характеру, створенні та розвитку військових технологій і технологій подвійного призначення, організації і проведенні азартних ігор, видобутку корисних копалин, капітальному будівництві, операціях з комерційною , промислової і житловою нерухомістю.

            </p>
      </div>
    </div>
  </div>
  
</section>
