<section class="sc sc--scew sc--scew--nmt r-residents" id="profit">
  <div class="back"></div>

  <div class="container">

    <h2 class="sc__title">Що дає статус резидента? </h2>
    <div class="sc__content--mw50">
      <div class="row">
        <div class="column-ts col-12">
          <p>Крім надання оренди на пільгових умовах, LvivTech.City пропонує повний перелік послуг, спрямованих на забезпечення
            комфортного перебування компаній-резидентів:</p>
          <ul class="ph__list">
            <li class="ph__list-i"> Пошук інвесторів, залучення інвестицій</li>
            <li class="ph__list-i"> Бізнес-інкубатор</li>
            <li class="ph__list-i"> Інтернет і телефонія</li>
            <li class="ph__list-i"> Конференц-зали</li>
            <li class="ph__list-i"> Приміщення для відеоконференцій</li>
            <li class="ph__list-i"> Юридичні консультації</li>
            <li class="ph__list-i"> Бухгалтерські послуги</li>
            <li class="ph__list-i"> Консалтингові послуги</li>
            <li class="ph__list-i"> Організація сприяння з охорони результатів інтелектуальної діяльності</li>
          </ul>
          <header class="form__header">
            </br>
            <h2 class="sc__heading">Подати заявку</h2>
            <p>Для того, щоб відправити заявку, будь ласка, заповніть форму. Наші колеги обов’язково зв’яжуться з Вами в найближчий
              час.
            </p>
          </header>
          //= ../form-block.html
        </div>
      </div>
    </div>

  </div>
</section>