<section class="sc sc--scew sc--scew--nmt sc--dark faq" id="profit">
  <div class="back"></div>

  <div class="container">

    <h2 class="sc__title">FAQ</h2>
    <div class="sc__content--mw50">
      <div class="row">
        <div class="column-t col-12">
          <p>Крім надання оренди на пільгових умовах, LvivTech.City пропонує повний перелік послуг, спрямованих на забезпечення
            комфортного перебування компаній-резидентів:</p>
          <ul>
            <li>Пошук інвесторів, залучення інвестицій</li>
            <li>Бізнес-інкубатор</li>
            <li>Інтернет і телефонія</li>
            <li>Конференц-зали</li>
            <li>Приміщення для відео-конференцій</li>
            <li>Юридичні консультації</li>
            <li>Бухгалтерські послуги</li>
            <li>Консалтингові послуги</li>
            <li>Організація сприяння з охорони результатів інтелектуальної діяльності</li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</section>