<section class="sc sc--scew sc--scew--nmt r-residents" id="profit">
  <div class="back"></div>

  <div class="container">

    <h2 class="sc__title">Що дає статус резидента? </h2>
    <div class="sc__content--mw50">
      <div class="row">
        <div class="column-ts col-12">
          <p>Крім надання оренди на пільгових умовах, LvivTech.City пропонує повний перелік послуг, спрямованих на забезпечення
            комфортного перебування компаній-резидентів:</p>
          <ul>
            <li>Пошук інвесторів, залучення інвестицій</li>
            <li>Бізнес-інкубатор</li>
            <li>Інтернет і телефонія</li>
            <li>Конференц-зали</li>
            <li>Приміщення для відео-конференцій</li>
            <li>Юридичні консультації</li>
            <li>Бухгалтерські послуги</li>
            <li>Консалтингові послуги</li>
            <li>Організація сприяння з охорони результатів інтелектуальної діяльності</li>
          </ul>
          <header class="form__header">
            <h2 class="sc__heading">Подати заявку</h2>
            <p>Для того, щоб відправити заявку, будь ласка, заповніть форму. Наші колеги обов’язково зв’яжуться з Вами в найближчий
              час.</p>
          </header>
          <form class="form request__form md-form" action="" method="POST">
            <div class="form__gr">
              <label for="user_name">Ім'я та Прізвище</label>
              <input class="form__inp" type="text" name="user_name" id="user_name">
            </div>
            <div class="form__gr">
              <label for="user_mail">Е-мейл адреса</label>
              <input class="form__inp" type="email" name="user_mail" id="user_mail">
            </div>
            <div class="form__gr">
              <label for="user_mail">Телефон</label>
              <input class="form__inp" type="tel" name="user_tel" id="user_tel">
            </div>
            <div class="form__gr">
              <label for="user_mail">Сфера діяльності</label>
              <input class="form__inp" type="text" name="user_work" id="user_work">
            </div>
            <div class="form__gr">
              <label for="user_office">Яке офісне приміщення ви шукаєте </label>
              <select name="user_office" id="user_office">
            <option value="coworking">Коворкiнг</option>
            <option value="office-6">Мiнi-офiс  6 м.кв.</option>
            <option value="office-12">Мiнi-офiс  12 м.кв.</option>
            <option value="office-18">Мiнi-офiс  18 м.кв.</option>
            <option value="office-24">Мiнi-офiс  24 м.кв.</option>
            <option value="office-36">Мiнi-офiс  36 м.кв.</option>
            <option value="office-48">Мiнi-офiс  48 м.кв.</option>
            <option value="office-50-200">Офiс для компанiй 50 до 200 м.кв.</option>
            <option value="office-200-500">Офiс для компанiй 200 - 500  м.кв.</option>
            <option value="office-500-1000">Офiс для компанiй 500 – 1000 м.кв.</option>
            <option value="office-1000-2000">Офiс для компанiй 1000 – 2000 м.кв.</option>
            <option value="office-2000">Офiс для компанiй вiд 2000  м.кв.</option>
          </select>
            </div>
            <div class="form__gr form__gr--tarea">
              <label for="user_comment">Коментарій</label>
              <textarea class="form__tarea" name="user_comment" id="user_comment"></textarea>
            </div>
            <button class="btn form__btn">Відправити</button>
          </form>
        </div>
      </div>
    </div>

  </div>
</section>