<header id="header" class="header">
  <div class="container-wrap">
    <div class="container-fluid header__content">
      <a href="/" class="header__logo logo">
        <img src="assets/images/logo-white.svg" alt="logo">
      </a>
      <div class="header__nav">
        <nav role="navigation">
          <ul class="header__menu menu">
            <li><a href="/about.html" class="menu__link active">Про нас</a></li>
            <li><a href="/infrostructure.html" class="menu__link">Інфраструктура</a></li>
            <li><a href="/residents.html" class="menu__link">Резидентам</a></li>
            <li><a href="/contacts.html" class="menu__link">Контакти</a></li>
          </ul>
        </nav>

        <div class="header__soc">
          <a href="#" class="header__soc-link"><img src="assets/images/fb.png" alt=""></a>
          <a href="#" class="header__soc-link"><img src="assets/images/yt.png" alt=""></a>
        </div>

        <button class="burger header__burger">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
    </div>
  </div>
</header>
