<header id="header" class="header js-navbar">
    <div class="container header__content">
      <a href="/" class="header__logo logo">
        <img src="assets/images/logo-white.svg" alt="logo">
      </a>
      <div class="header__nav js_mobile-nav">
        <nav role="navigation">
          <ul class="header__menu menu">
            <li><a href="../" class="js-link menu__link active">Про нас</a></li>
            <li><a href="../#videosc" class="menu__link page-scroll">Інфраструктура</a></li>
            <li><a href="../#residents" class="menu__link page-scroll">Резидентам</a></li>
            <li><a href="../contacts.html" class="js-link menu__link">Контакти</a></li>
          </ul>
        </nav>

        <div class="header__soc">
          <a href="#" class="header__soc-link"><img src="assets/images/fb.png" alt=""></a>
          <a href="#" class="header__soc-link"><img src="assets/images/yt.png" alt=""></a>
        </div>

        <button class="burger header__burger">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
    </div>
</header>
