<section class="sc page-head">
  <div class="page-overlay"></div>
  <div class="sc__content">
    <div class="container">
      <h1 class="ph__heading">Резидентам</h1>
      <ul class="ph__list">
        <li class="ph__list-i">
          <a class="page-scroll" href="#how-to">Як стати резидентом?</a>
        </li>
        <li class="ph__list-i">
          <a class="page-scroll" href="#profit">Що дає статус резидента?</a>
        </li>
        <li class="ph__list-i">
          <a class="page-scroll" href="#form">Подати заявку</a>
        </li>
        <li class="ph__list-i">
          <a class="page-scroll" href="#faq">FAQ</a>
        </li>
      </ul>
    </div>
  </div>
</section>